.photo-grid {
  /* display */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 16px;

  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    /* display */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    /* display */
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    /* display */
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}
