.footer_size {
  /* position */
  width: calc(100vw - (48px * 2));
  max-width: 1184px;
  padding: 92px 0 24px 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .footer_size {
    /* position */
    width: calc(100vw - (24px * 2));
  }
}

@media screen and (max-width: 720px) {
  .footer_size {
    /* position */
    width: calc(100vw - (16px * 2));
    padding: 64px 0 24px 0;
  }
}
