.places__title {
  /* position */
  margin: 0;
  /* font */
  font: 900 72px/1.06 "Inter", arial, sans-serif;
  /* color */
  color: #fff;
}

@media screen and (max-width: 768px) {
  .places__title {
    /* font */
    font: 900 42px/1.1 "Inter", arial, sans-serif;
  }
}

@media screen and (max-width: 720px) {
  .places__title {
    /* position */
    margin: 0 0 32px 0;
    /* font */
    font: 900 32px/1.09 "Inter", arial, sans-serif;
  }
}
