.photo-grid_size {
  /* position */
  width: calc(100vw - (48px * 2));
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .photo-grid_size {
    /* position */
    width: calc(100vw - (24px * 2));
  }
}

@media screen and (max-width: 720px) {
  .photo-grid_size {
    /* position */
    width: calc(100vw - (16px * 2));
  }
}
