.footer__author {
  margin: 0;
  font: 400 14px/1.14 "Inter", arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

.footer__author:hover {
  transition: opacity 0.2s ease;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .footer__author {
    line-height: 1;
  }
}
