.header__link {
  font: 400 24px/1.17 "Inter", arial, sans-serif;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.header__link:hover {
  transition: opacity 0.2s ease;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .header__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
