.footer__link {
  text-decoration: none;
  margin: 0;
  margin-right: 18px;
  font: 400 16px/1.12 "Inter", arial, sans-serif;
  color: #fff;
}

.footer__link:last-child {
  margin: 0;
}

.footer__link:hover {
  transition: opacity 0.2s ease;
  opacity: 0.8;
}

@media screen and (max-width: 688px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer__link:last-child {
    margin: 0;
  }
}
