.lead__title {
  margin: 0;
  margin-bottom: 32px;
  font: 900 96px/1.04 "Inter", arial, sans-serif;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
