.cover__text {
  z-index: 1;
  max-width: 360px;
  margin: 0;
  font: 400 18px/1.22 "Inter", arial, sans-serif;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cover__text {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
