.lead__subtitle {
  max-width: 640px;
  margin: auto;
  margin-bottom: 64px;
  font: 400 30px/1.2 "Inter", arial, sans-serif;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.91vw;
  }
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    max-width: 288px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
