.header__wrap {
  /* position */
  width: 77px;
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .header__wrap {
    /* position */
    width: 62px;
  }
}
