.lead__caption {
  margin: 0;
  font: 400 10px/1.4 "Inter", arial, sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 600px) {
  .lead__caption {
    padding-left: 16px;
  }
}
