.cover__title {
  /* position */
  max-width: 560px;
  margin: 0 0 32px 0;
  position: relative;
  /* index */
  z-index: 1;
  /* font */
  font: 900 72px/1.06 "Inter", arial, sans-serif;
  /* color */
  color: #fff;
  /* text */
  text-align: center;
}

@media screen and (max-width: 720px) {
  .cover__title {
    /* position */
    max-width: 288px;
    margin: 0 0 16px 0;
    /* font */
    font: 900 32px/1.09 "Inter", arial, sans-serif;
  }
}
