.lead_size {
  /* position */
  width: calc(100vw - (148px * 2));
  max-width: 984px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .lead_size {
    /* position */
    width: calc(100vw - (48px * 2));
  }
}

@media screen and (max-width: 768px) {
  .lead_size {
    /* position */
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .lead_size {
    /* position */
    width: 100%;
  }
}
